{%  extends 'store/main.html' %}
{% load static %}
{% block content %}

<h1>Create a Post </h1>
<form action="" method="POST">
{% csrf_token %}
Full Name: <input type="text" name="full_name"/><br/>
Email: <input type="email" name="full_name"/><br/>
Address: <input type="text" name="address"/><br/>
city: <input type="text" name="city"/><br/>
state: <input type="text" name="state"/><br/>
zipcode: <input type="text" name="zipcode"/><br/>
phone: <input type="text" name="phone"/><br/>
payment_method: <input type="text" name="payment_method"/><br/>

<input type="submit" value="Post"/>
</form>

{% endblock %}
