{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h1>product</h1>
{% csrf_token %}


<br>
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">

						<div class="preview-pic tab-content">
						  <div  ><img id="pic" src="{% static 'images/{{product.image}}' %}" alt="saree" width="500" height="600"></div>

						</div>


					</div>
					<div class="details col-md-6">
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>


						<h1 class="product-title">{{product.name}} </h1>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p class="product-description">{{product.description}} ,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<h2 class="price">Price: <span> {{product.price}} Rs</span></h2>


						<div class="action">
							<a class="btn btn-success btn-lg" href="{% url 'checkout' product.id %}">Buy</a>
				  </button> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



{% endblock content %}


