{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h1>Search</h1>
{% csrf_token %}

 <div class="row">
		{% for product in products %}
		<div class="col-lg-3">
			<img class="thumbnail" src="{{product.imageURL}}"  width="396" height="350">
			<div class="box-element product">
				<h4><strong>{{product.name}}</strong></h4>
			

				
				<a class="btn btn-outline-success" href="{% url 'product' product.id %}">View</a>
<hr>
			</div>
		</div>
		{% endfor %}
	</div>

<div></div>

{% endblock content %}
